.landing {
    width: 100%;
    height: 86vh;
    text-align: center;
}

.landing > div {
    transform: translate(0%, 15%)
}

.landing > div > h1 {
    font-size: 4.5rem;
    padding-top: 5%;
}

.landing > div > h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

.matter {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
}

.matter-content {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.matter-content > h2 {
    font-size: 2.8rem;
    text-align: center;
}

.matter-content > p {
    font-size: 1.2rem;
    line-height: 150%;
    text-align: center;
    position: relative;
    top: -1.4rem;
}

.matter-context {
    width: 90%;
    padding: 48px 5% 0;
    margin-top: 0.83em;
    display: grid;
    grid-template-columns: 4fr 1fr 8fr;
}

.matter-context > .text > h2{
    font-size: 2.8rem;
    margin: 0;
}

.matter-context > .text > p {
    font-size: 1.2rem;
    line-height: 150%;
}

.matter-context > .image > img {
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 18px;
    width: 100%;
}

.matter-context > .image > .caption {
    color: #666;
    font-size: 0.9rem;
    text-align: center;
}

.how {
    width: 64%;
    padding-left: 18%;
    padding-right: 18%;
}

.how > h2 {
    font-size: 2.8rem;
    text-align: center;
    padding-top: 48px;
}

.how > p {
    font-size: 1.2rem;
    line-height: 150%;
    text-align: center;
    position: relative;
    top: -1.4rem;
}

.who {
    width: 64%;
    padding-left: 18%;
    padding-right: 18%;
}

.who > img {
    border-radius: 18px;
    width: 100%;
    position: relative;
    top: -1.4rem;
}

.who > h2 {
    font-size: 2.8rem;
    text-align: center;
    padding-top: 48px;
}

.who > p {
    font-size: 1.2rem;
    line-height: 150%;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .matter-content {
        width: 100%;
        padding: 0;
    }

    .how, .who {
        width: 80%;
        padding: 0 10%;
    }

    .matter-context {
        display: block;
        width: 80%;
        padding: 48px 10% 0;
        margin-top: 0.83em;
    }

    .matter-context > .text {
        text-align: center;
        padding-bottom: 48px;
        width: 100%;
    }
}