.privacy {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
}

.privacy > img {
    width: 100%;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 18px;
}

.privacy h1 {
    font-size: 3.1rem;
    margin-top: 0;
}

.privacy h2 {
    font-size: 2.4rem;
}

.privacy h3 {
    font-size: 2rem;
}

.privacy > article > p {
    font-size: 1.4rem;
    line-height: 150%;
    padding-bottom: 2rem;
}

.privacy ul > li {
    font-size: 1.4rem;
}

.privacy > .caption {
    color: #666;
    font-size: 0.9rem;
    text-align: center;
}

.privacy > .caption > a {
    color: #111;
    font-weight: 500;
    text-decoration: none;
}

.privacy > .caption > a:hover {
    text-decoration: underline;
}

#privacy-1 {
    padding-bottom: 1.4rem;
}

#privacy-2 {
    padding-top: 1.4rem;
}

#quiz {
    padding-top: 1.4rem;
}

#quiz > form h2 {
    font-size: 1.7rem;
}

#quiz > form label {
    font-size: 1.4rem;
}

#quiz > form label::before {
    content: " ";
}

#quiz > form > button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.8rem;
    margin-top: 1.4rem;
    font-size: 1.4rem;
    padding: 0.4rem 0.8rem;
}

#reset-button {
    margin-left: 1.2rem;
}