@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html {
    font-family: "Inter", sans-serif;
    margin: 0 0 0 0;
}

::-webkit-scrollbar {width: 0.5vw;}
::-webkit-scrollbar-track {background: white;}
::-webkit-scrollbar-thumb {background: gray;}
::-webkit-scrollbar-thumb:hover {background: black;}

nav {
    display: grid;
    height: 4vh;
    width: 98%;
    padding: 1% 1% 1.6%;
    grid-template-columns: 3fr 1fr 1fr 3fr;
}

nav > .logo {
    display: flex;
    margin: 0px, 0px, 0px, 0px;
    justify-content: flex-start;
    align-items: center;
}

nav > .about {
    display: flex;
    margin: 0px, 0px, 0px, 0px;
    justify-content: flex-end;
    align-items: center;
}

nav > .guide, .privacy {
    display: flex;
    margin: 0px, 0px, 0px, 0px;
    justify-content: center;
    align-items: center;
}

nav > .logo > a > img {
    height: 40px;
    width: 40px;
}

.guide-link, .privacy-link, .about-link {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.logo-link-text {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    padding-left: 1.6rem;
    font-weight: 600;
}

.logo-link-text:hover, .guide-link:hover, .privacy-link:hover, .about-link:hover {
    font-weight: bolder;
}

.main {
    width: 100%;
}

.landing {
    width: 100%;
    height: 89vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.landing > div > h1 {
    font-size: 4.5rem;
    padding-top: 5%;
}

.landing > div > h4 {
    font-size: 1.5rem;
    font-weight: 500;
}