@import url(guide.css);
@import url(privacy.css);
@import url(about.css);
@import url(landing.css);

/* Universal stylings*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html {
    font-family: "Inter", sans-serif;
    margin: 0 0 0 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

::-webkit-scrollbar {width: 0.5vw;}
::-webkit-scrollbar-track {background: white;}
::-webkit-scrollbar-thumb {background: gray;}
::-webkit-scrollbar-thumb:hover {background: darkgray;}

nav {
    display: grid;
    height: 4vh;
    width: 96%;
    padding: 2% 2% 3.2%;
    grid-template-columns: 3fr 1fr 1fr 3fr;
}

nav > .logo {
    display: flex;
    margin: 0px, 0px, 0px, 0px;
    justify-content: flex-start;
    align-items: center;
}

nav > .about-nav {
    display: flex;
    margin: 0px, 0px, 0px, 0px;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
}

nav > .guide-nav, .privacy-nav {
    display: flex;
    margin: 0px, 0px, 0px, 0px;
    padding: 0;
    justify-content: center;
    align-items: center;
}

nav > .logo > a > img {
    height: 40px;
    width: 40px;
}

.guide-link, .privacy-link, .about-link {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.logo-link-text {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    padding-left: 1.6rem;
    font-weight: 600;
}

.logo-link-text:hover, .guide-link:hover, .privacy-link:hover, .about-link:hover {
    font-weight: bolder;
}

main {
    width: 100%;
}

/* Bibliography stylings */

.bibliography {
    width: 60%;
    padding: 0 20%;
}

.bibliography > h2 {
    font-size: 1.8rem;
    text-align: center;
}

.bibliography > p {
    text-align: left;
    color: #444;
    text-indent: -4rem;
    padding-left: 4rem;
}

/* Footer stylings */

footer {
    width: 100%;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

footer > .footer-links {
    width: 60%;
    padding: 0 20%;
    display: flex;
    justify-content: space-between;
}

footer > .footer-links > a {
    display: inline;
    color: gray;
    text-decoration: none;
}

footer > .footer-links > a:hover {
    text-decoration: underline;
}